<div>
  <h1>Secrets</h1>
  <form action='/logout' method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type='submit' value='Log out' />
  </form>
  <a href="/users/<%= session[:user_id] %>">My secrets</a>
</div>
<div class="main">
  <% @secrets.each do |secret| %>
    <div class="secret">
      <div class="s_left">
        <p><%= secret.secret %></p>
        <div class="likes">
          <p> <%= secret.likes.count %> likes </p>
        </div>
        <div class="likes">
          <% if (secret.likes.find_by(user_id:session[:user_id])) %>
            <% input_value = "Like" %>
          <% else %>
            <% input_value = "Dislike" %>
          <% end %>
          <form action='/like' method='post'>
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input name="secret_id" type="hidden" value="<%= secret.id %>" />
            <input type='submit' value= <%= input_value %> />
          </form>
        </div>
      </div>
      <div class="s_right">
        <% if (secret.user_id==session[:user_id]) %>
        <form action='secrets/:id' method='post'>
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="secret_id" type="hidden" value="<%= secret.id %>" />
          <input type="hidden" name="_method" value="delete">
          <input type='submit' value='Delete'/>
        </form>
        <% end %>
      </div>
    </div>

  <% end %>

</div>
